.Barra-navegacion
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(249, 245, 122);
    background: linear-gradient(to right, rgb(249, 245, 122),30%, rgb(250, 244, 69));
}

.Logo-header
{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.Logo-header .Logo-1
{
    height: 55px;
    width: 50px;
}

.Logo-header .Logo-2
{
    height: 35px;
}

.navegador
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: center;
    width: 450px;
}
.navegador a
{
    color: black;
    text-decoration: none;
}

.navegador .boton-nav1
{
    background-color: rgb(255,255,255);
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 75px;
    border-radius: 12px;
    transition: all 400ms ease;
    box-shadow: 0px 4px 0px rgb(153, 151, 151);
}

.navegador .boton-nav1:hover
{
    background-color: rgb(244, 130, 8);
    box-shadow: 0px 6px 0px rgb(192, 102, 7);
}

.navegador .boton-nav2
{
    background-color: rgb(255,255,255);
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 75px;
    border-radius: 12px;
    transition: all 400ms ease;
    box-shadow: 0px 4px 0px rgb(153, 151, 151);
}

.navegador .boton-nav2:hover
{
    background-color: rgb(244, 130, 8);
    box-shadow: 0px 6px 0px rgb(192, 102, 7);
}

.navegador .boton-nav3
{
    background-color: rgb(255,255,255);
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 100px;
    border-radius: 12px;
    transition: all 400ms ease;
    box-shadow: 0px 4px 0px rgb(153, 151, 151);
}

.navegador .boton-nav3:hover
{
    background-color: rgb(244, 130, 8);
    box-shadow: 0px 6px 0px rgb(192, 102, 7);

}

.navegador .boton-nav4
{
    background-color: rgb(255,255,255);
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 100px;
    border-radius: 12px;
    transition: all 400ms ease;
    box-shadow: 0px 4px 0px rgb(153, 151, 151);
}

.navegador .boton-nav4:hover
{
    background-color: rgb(244, 130, 8);
    box-shadow: 0px 6px 0px rgb(192, 102, 7);

}

.usuario
{ 
   align-items: center;
   margin-left: 10px;
   margin-right: 10px;
   height: 35px;
}

.usuario a
{
    text-decoration: none;
    color: black;
}

.usuario .boton-usuario
{
    background-color: rgb(255,255,255);
    font-size: 200%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 400ms ease;
    box-shadow: 0px 4px 0px rgb(153, 151, 151);
}

.usuario .boton-usuario:hover
{
    background-color: rgb(244, 130, 8);
    box-shadow: 0px 6px 0px rgb(192, 102, 7);
}

