.form-register
{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    width: 450px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 12px;
    box-shadow: 0px 5px 0px rgb(153, 151, 151);
    text-align: center;
    position: relative;
}

.form-register .form-superior
{
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}
  
.form-register h4 
{
    color: rgb(255, 255, 255);
    font-size: 170%;
} 

.controls
{
    width: 90%;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(108, 108, 108);
    font-size: 120%;
}

.form-register a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.form-register p
{
    text-align: left;
    margin-left: 27.75px;
    width: 85%;
    font-size: 120%;
    line-height: 40px;
    text-decoration: none;
}

.boton
{
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 22, 22);
    box-shadow: 0px 5px 0px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border: none;
    font-size: 130%;
    font-weight: bold;
    border-radius: 12px;
    margin: 35px;
}

.boton:hover
{
    color: rgb(0, 0, 0);
    background-color: rgb(244, 130, 8);
    box-shadow: 0px 5px 0px rgb(192, 102, 7);
}

input.error, textarea.error 
{
    border: 1px  solid red;
    font-weight: 300;
    color: red;
}

label.error 
{
    width: 60%;
    color: red;
    font-size: 1rem;
    margin-top: 1px;
    margin-bottom: 1px;
}

.final
{
    text-align: center;
    margin-left: 75px;
}

.icono-ojo
{
    color: black;
    width:0;
    text-align: center;

    line-height: 36px;
    position: absolute;
    z-index: 3;
}

hr
{
    border: none;
}