@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
/*json-server Lista.json  --host 0.0.0.0 --port 3300*/
/*<i class="fa-solid fa-receipt"></i>*/
/*document.getElementById("prueba"+contador).innerHTML="("+v_random+")"*/
/*<i class="fa-solid fa-user"></i>*/
*
{
    font-family: "Signika", sans-serif;
}

body
{
    background-color: rgba(206,249,188,1);
    background-image:  linear-gradient(135deg, rgba(168, 217, 147, 1) 25%, transparent 25%), linear-gradient(225deg, rgba(168, 217, 147, 1) 25%, transparent 25%), linear-gradient(45deg, rgba(168, 217, 147, 1) 25%, transparent 25%), linear-gradient(315deg, rgba(168, 217, 147, 1) 25%, rgba(206,249,188,1) 25%);
    background-position:  18px 0, 18px 0, 0 0, 0 0;
    background-size: 36px 36px;
    background-repeat: repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
body
{
    background-color: rgb(206, 249, 188);
    background: linear-gradient(to right, rgb(206, 249, 188),30%,rgb(136, 248, 88)) ;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/



