/* Enlace donde importamos fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* <i class="fa-solid fa-cart-shopping"></i> */

.Barra-superior
{
    background-color: rgb(249, 245, 122);
    display: flex;
    align-items: center;
    padding: 5px 10%;
    justify-content: flex-start;
}

.Barra-superior .Logo-1
{
    height: 55px;
    width: 48px;
}

.Barra-superior .Logo-2
{
    height: 25px;
    width: 130px;
    margin-left: 10px;
}

.Barra-superior .Navbar
{
    margin-left: 40px;
}

.Barra-superior .Navbar li
{
    display: inline-block;
    padding: 0px 5px;
}

.Barra-superior .Navbar li:hover
{
    transform: scale(1.15) ;
}

.Barra-superior .Navbar a
{
    color: rgb(36, 34, 34);
    text-decoration: none;
    height: 30px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.4s ease 0s;
    font-weight: bold;
}

.Barra-superior .Navbar a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(244, 130, 8);
}

.My-Footer
{
    width:100%;
    background-color: rgb(67, 124, 80);
    border-radius: 12px;
    margin-top: auto;
    padding-top: 20px;
}

.My-Footer .Footer-Group1
{
    width:100%;
    max-width:1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 0px;
}

.My-Footer .Footer-Group1 .Box figure
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.My-Footer .Footer-Group1 .Box figure img
{
    width: 200px;
    padding-right: 120px;
    padding-bottom: 20px;
}

.My-Footer .Footer-Group1 .Social-Media a
{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(244, 130, 8);
    margin-right: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10px;
}

.My-Footer .Footer-Group1 .Social-Media a:hover
{
    color:  rgb(255, 148, 33);
    background-color:  rgb(249, 245, 122);
}

.My-Footer .Footer-Group2
{
    background-color: rgb(249, 245, 122);
    text-align: center;
    padding: 15px 10px;
    font-size: 120%;
}

@media screen and (max-width: 800px)
{
    .My-Footer .Footer-Group1
    {
    width:90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 50px 25px;
    }
}

.Menu
{
    padding: 30px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
}

.Contenedor
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
    margin: auto;
}

.BotonCompra a
{
    width: 200px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    background-color: rgb(249, 245, 122);
    color:rgb(36, 34, 34);
    text-align: center;
    border-radius: 8px;
    transition: all 300ms ease;
}

.Items .Info-producto .BotonCompra a:hover
{
    transform: scale(1.12);
    background-color: rgb(244, 130, 8);
    color: white;
}

.BotonCompra
{
    justify-content: center;
    align-items: center;
    padding-left: 122px;
}

.Items
{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 20px;
    height: 500px;
    width: 450px;
    padding-bottom: 55px;
    align-items: center;
    justify-content: center;
}

.Items img
{
    max-width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.Items h3
{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.Items p
{
    padding-left: 10px;
}

.Menu
{
    margin: auto;
    padding-top: 50px;
}

.parrafo
{
    margin: auto;
    font-size: 120%;
    padding-bottom: 50px;
}

/*ELEMENTOS DE COCKTAIL RANDOM*/

.Items_random {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
    margin: auto;

}

.bebida {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 20px;
    height: 500px;
    width: 450px;
    padding-bottom: 55px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.bebida img {
    max-width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.boton{

    color: black;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease 0s;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    align-items: center;

}
.boton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(244, 130, 8);
    transform: scale(1.15)
}